<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${recipe.name} + ' - TastyLab Red Social de Recetas!'"></title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
        .recipe-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .recipe-header {
            margin-bottom: 20px;
        }
        .recipe-meta {
            font-style: italic;
            color: #666;
        }
        .ingredient-list, .preparation-steps {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="recipe-container">
        <div class="recipe-header">
            <h1 th:text="${recipe.name}"></h1>
            <span th:text="'Creada por: ' + ${recipe.createdBy}"></span> |
            <span th:text="'Tiempo de Preparacion: ' + ${recipe.preparationTime} + ' minutes'"></span> |
            <span th:text="'Dificultad: ' + ${recipe.difficulty}"></span>
        </div>

        <h2>Ingredientes:</h2>
        <ul>
            <li th:each="ingredient : ${recipe.ingredientList}" th:text="${ingredient}"></li>
        </ul>

        <h2>Preparación:</h2>
        <ol>
            <li th:each="step : ${recipe.preparationSteps}" th:text="${step}"></li>
        </ol>


        <div class="navigation-links">
            <a th:href="@{/recipes}">Regresa a Todas las Recetas</a>
            <th:block th:if="${isOwner}">
                <a th:href="@{/recipes/{id}/edit(id=${recipe.id})}">Editar Receta</a>
                <form th:action="@{/recipes/{id}/delete(id=${recipe.id})}" method="post" style="display: inline;">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar esta receta?')">Eliminar Receta</button>
                </form>
            </th:block>
        </div>
    </div>
</body>
</html>